.content {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.catalogueWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.catalogueHeading {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding: 0;
}
